---
const { classname, attr } = Astro.props;
---
<tr>
  <td data-label="Class">
    <code>{classname}</code>
  </td>
  {attr ? (
    <td data-label="Attribute">
      <code>{attr}</code>
    </td>
  ) : null}
  {Astro.slots?.default ? (
    <td data-label="Result">
      <slot />
    </td>
  ) : null}
</tr>