---
const { modifier, secondary, attr } = Astro.props;
---
<tr>
  <td data-label="Modifier">
    <code>{modifier}</code>
  </td>
  {secondary ? (
    <td data-label="Secondary Modifier">
      <code>{secondary}</code>
    </td>
  ) : null}
  {attr ? (
    <td data-label="Data Attribute">
      <code>{attr}</code>
    </td>
  ) : null}  
  <td data-label="Behavior">
      <slot />
  </td>
</tr>