---
import {site} from '../../../data/config.json';
import PuiVersion from '../../../components/pui-version.astro';
const nav = site.menu
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPath = pathname[1];
const home = '/';
---
<header id="main-header" class="site-header site-header--fixed background--purple block-container px-4">
  <a href="/" class="site-logo h-100 flex flex--align-center flex--justify-center">
    <img src="/images/platform-ui.svg" alt="Platform UI" />
  </a>
  <nav class="site-menu hover-underline hover-underline--white h-100 flex flex--grow flex--align-center text--white px-2" aria-label="Main navigation">
    {nav.map((navItem) => 
      <a class={`p-2 site-menu__item${firstPath === navItem.name.toLowerCase() ? " active" : ""}`} href={navItem.url} >{navItem.name}</a>
    )}
  </nav>
  <div class="h-100 text--white flex flex--justify-end flex--align-center">
    <button class="hide show:tablet button button--secondary has-text mr-2 modal__open" data-button-text="Search Docs" data-modal="search-modal">
      <i class="pi-search" aria-hidden="true"></i>
    </button>
    <span class="hide show:tablet mr-2">v<PuiVersion/></span>
    <a href={site.rimdev_url} rel="external noopener" target="_blank" class="text--white mt-2" aria-label="RIMdev Blog">
      <i class="pi-rimdev-circle pi-xl text-hover--skyblue transition" aria-hidden="true"></i>
    </a>
  </div>
  <div id="search-modal" class="modal">
    <div class="modal__inner rounded-3">
      <div class="modal__header rounded-3 background--white">
        <button class="button modal__close" data-modal="search-modal">
          Close 
          <i class="pi-times"></i>
        </button>
        <h2>Search Docs</h2>
      </div>
      <div class="modal__content">
        <div id="search"></div>
      </div>
    </div>
  </div>
</header>
